.intro{
}

#about {
	padding-top: 100px;
	padding-bottom: 15%;
}

#lancamento {
	padding-top: 100px;
	padding-bottom: 30%;
}

#download {
	padding-top: 100px;
	padding-bottom: 15%;
}

#contact {
	padding-top: 100px;
	padding-bottom: 15%;
}

h1 {
	text-shadow: 2px -2px 10px Black; 
}
